
html, body {margin: 0; height: 100%; overflow: hidden}

html {
	background-color: rgb(51, 51, 51);
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.buttonGroup button {
	position: absolute;
	left: 10px;
	z-index: 1;
	top: 10px;
	font-size: 20px;
	font-family: sans-serif;
	color: rgb(255, 255, 255);
	background-color: rgb(31, 31, 31);
	width: 80px;
	height: 40px;
	border: solid 2px rgb(122, 122, 122);
	cursor: pointer;
	transition: background-color 140ms ease, border-color 140ms ease, transform 140ms ease;
}

.buttonGroup button:hover {
	background-color: rgb(72, 72, 72);
	border-color: rgb(188, 188, 188);
	transform: translateY(-1px);
}

.buttonGroup button:active  {
	transform: translateY(0);
}

#resetBtn {
	left: 95px;
}

#wgpu-canvas {
	width: 100%;
	height: 100%;
	display: block;
}
